In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_csv("titanic11.csv")

In [44]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [45]:
df.dropna(inplace=True)

In [46]:
total_age=0
total_count=0
for i,j in zip(df["Survived"],df["Age"]):
    if i==1:
        total_age+=j
        total_count+=1
print(total_age/total_count)

32.905853658536586

In [47]:
print(total_count)

123

In [48]:
df = pd.read_csv("titanic11.csv")

In [49]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [50]:
del df["Cabin"]

In [52]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [53]:
df.dropna(inplace=True)

In [54]:
total_age=0
total_count=0
for i,j in zip(df["Survived"],df["Age"]):
    if i==1:
        total_age+=j
        total_count+=1
print(total_age/total_count)

28.19329861111111

In [55]:
print(total_count)

288